@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular&dispay=swap);
@font-face {
   font-family: 'Plexifont BV';
   src: url('../fonts/PlexifontBV.woff2') format('woff2'),
       url('../fonts/PlexifontBV.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Marck Script';
   src: url('../fonts/MarckScript-Regular.woff2') format('woff2'),
       url('../fonts/MarckScript-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}



.book-link{
   text-align: right;
   font-family: "Plexifont BV";
   tab-size: 40px;
}

.book{
   color: red;
   font-weight: bold;
   font-size: 40px;
   text-transform: uppercase;
}

.font-family{
   font-family: "Lora";
   font-size: 40px;
   font-weight: bold;
   text-align: center;
   color: gold;
}

.picture{
   text-align: center;
}

.fantasy{
   text-align: center;
   font-family: fantasy;
}
.telegram{
   color: green;
   text-decoration: underline;
   font-weight: bold;
}

.book-mark{
   color: blue;
   font-weight: bold;
}

.font-style{
   font-style: italic;
   text-indent: 40px;
}

.monospace{
   font-family: monospace;
   font-style: oblique;
   font-weight: 600;
   text-decoration: none;
   text-align: center;
   font-size: 40px;
}

.text-shadow{
   font-family: serif;
   text-shadow: 5px ;
   font-size: 20px;
   text-shadow: 5px -2px 10px red;
}

.text-transform{
   font-family: "Lora";
   text-transform: capitalize;
   font-size: 16px;
   
}

.line-height{
   font-family: Caveat;
   font-size: 30px;
   line-height: 1.4;
}

.letter-spacing{
   font-family: "Marck Script";
   font-size: 20px;
   letter-spacing: 5px;
}

.white-space{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
   white-space: nowrap;
}
.word-spacing{
   font-family: "Marck Script" ;
   word-spacing: 5px;
   font-size: 20px;
}

.text-decoration{
   text-decoration: line-through;
}

.font-weight{
   font-weight: 900;
   font-size: 30px;
}

.overline{
   text-decoration: overline;
   line-height: 1.4;
   font-size: 20px;
   font-style: italic;
   font-weight: bold;
}

.underline{
   text-decoration: underline;
   font-size: 20px;
   font-family: "Caveat";
   text-shadow: 5px -2px 10px gold
}