@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);


.main-container {
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   font-size: 14px;
   color: #6C757D;
   padding-top: 80px;
   padding-bottom: 80px;
}
.large-container {
   max-width: 1270px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
.text-container {
   max-width: 816px;
   margin: 0 auto 80px;
}

.text-container p {
   line-height: 179%;
   margin-bottom: 30px;
}

.title {
   font-weight: 700;
   font-size: 25px;
   line-height: 160%;
   color: #212529;
   margin-bottom: 40px;
}
.images {
   max-width: 100%;
   font-size: 0;
   margin-bottom: 80px;
   border-radius: 5px
}
.image-1 {
   margin-right: 22px;
}

/* Second page */

.new-page-container{
   max-width: 1470px;
   margin: 0 auto;
   margin-bottom: 100px;
   padding-right: 15px;
   padding-left: 15px;
}
.new-page-small-container{
   max-width: 816px;
   margin: 0 auto ;
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   font-weight: 300;
   color: #6C757D;
}
.text{
   line-height: 179%;
   margin-bottom: 100px;
}
.text p{
   margin-bottom: 30px;
}

.title-text{
   margin-bottom: 100px;
}
.image-3{
   margin-right: 30px;
}


/* Практика */


.list{
   max-width: 1200px;
   margin: 0 auto;
}
.list-item{
   display: inline-block;
   background-color: aquamarine;
   padding: 80px;
}

.item-1{
   border: solid red;
   border-radius: 20px;
}

.item-2{
   border: dotted blue;
   box-shadow: 10px 10px 20px 10px red;
}

.item-3{
   border: dashed green;
   opacity: 0.5;
}

.item-4{
   border: double yellow;
}

.item-5{
   outline: 20px solid  black;
}