@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,,300,regular,500,600,700,800,900&display=swap);

.first-container{
   margin: 0 auto;
   max-width: 816px;
   margin-bottom: 80px;
}

.first-container-title{
   display: inline-block;
   max-width: 400px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 160%;
   margin-bottom: 40px;
} 

.text{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 179%;
   margin-bottom: 38px;
   color: #6C757D;
}

.large-picture{
   max-width: 1240px;
   margin: 0 auto 80px;
}

.large-picture-display{
   display: inline-block;
   max-width: 100%;
}

.second-container{
   max-width: 816px;
   margin: 0 auto 80px;
}

.second-container-title{
   max-width: 605px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 160%;
   margin-bottom: 40px;
}

.small-pictures{
   max-width: 1240px;
   margin: 0 auto 80px;
   font-size: 0px;
}

.left-picture{
   display: inline-block;
   max-width: 100%;
   margin-right: 20px;
}
.right-picture{
   display: inline-block;
   max-width: 100%;
}

.third-container{
   max-width: 816px;
   max-height: 175px;
   margin: 0 auto 80px;
   overflow: auto;
}

